body {
  background-color: #000;
  font-family: "Helvetica Neue", Sans Serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header {
  position: relative;
  background-image: url("img/header-bg.jpg");
  background-size: cover;
  min-height: 600px; }

.overlay {
  position: relative; }
  .overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #2c2c2c; }

.logo {
  z-index: 1; }
  .logo img {
    position: relative;
    background-repeat: no-repeat;
    width: 177px;
    height: 39px;
    margin-top: 6rem; }
  .logo span {
    display: block;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #fff; }

.iphone, .android {
  position: absolute;
  top: 93px;
  left: 580px;
  z-index: 1; }

.android {
  left: 820px;
  z-index: 0; }

.download {
  margin-top: 2rem;
  padding: 1rem 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
  .download span {
    color: #ccc;
    line-height: 3rem; }
  .download input {
    display: inline-block;
    float: left;
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem; }
  .download a {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.5rem !important;
    height: auto; }
  .download .number {
    border-style: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
  .download .send-link {
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; }

.store-links a {
  position: absolute;
  display: inline-block;
  width: 170px;
  height: 58px;
  margin-top: 40px;
  background-repeat: no-repeat; }

.app-store {
  background-image: url("img/app-store-badge@2x.png");
  background-size: 170px 58px; }

.play-store {
  background-image: url("img/play-store-badge@2x.png");
  background-size: 170px 58px;
  left: 210px; }
